body{
  font-family: arial;
  background: linear-gradient(70deg, #55ADF5, pink);
}

h1 {
  font-family: arial;
  text-align: center;
}

button {
  text-align: center;
  background-color: #A9A9A9;
  border: solid 0.8px;

}

button:hover {
  color: #DCDCDC;

}

a {
  color: black;
  font-size: 15px;
  text-decoration: none;
}


/* DATABASE TABLEAU GITHUB MY SERVER JSON */

#overflowtab {
  overflow-x: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

th {
  color: black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 5px;
  min-width: 100px;
  font-family: arial;
}

td {
  color: #4F5050;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 5px;
  min-width: 100px;
  font-family: arial;
}

td:hover {
  color : black ;
}

table {
 border-collapse: collapse;
 width: 100%;
}